body {
    font-family:Tahoma, Geneva, sans-serif;
    margin:0;
}

p {
    margin:0;
    line-height:0.75;
    font-size:85px;
    display:block;
}
div {
    display: block;
    clear: both;
}
.number {
    float:left;
    font-size:100px;
    text-decoration:underline;
    margin-bottom:10px
}
.sp {
    float: right;
    border-width: 1px;
    border-style: solid;
    padding: 10px
}